*{
    margin: 0;w
}

body{
    font-family: "Alfa Slab One", serif;
}

/* HEADER */

header{
   
}

div{
   
}

img{
    
}

.logo{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

li{
    text-align: center;
    margin-bottom: 20px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
}

/* REDES SOCIALES */

.fa-instagram{
    color: #e1306c;
    font-size: 50px;
}
.fa-tiktok{
    color: #25F4EE;
    font-size: 50px;
}
.fa-youtube{
    color: #ff0000;
    font-size: 50px;
}
.fa-spotify{
    color: #1db954;
    font-size: 50px;
}
.fa-square-facebook{
    color: #1877f2;
    font-size: 50px;
}

section.imagen-principal{
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     display: flex;
     justify-content: center;
     margin-bottom: 100px;
}

section div {
    width: 95%;
    height: 50vh;
    margin-top: 50px;
}

section div h1{
    background-color: rgb(148, 212, 221);
    text-align: center;
    border-radius: 50px;
}

section div div {
    width: 100%;
}

section div div img{   
    width: 100%;
    height: 60vh;
}

/*          DESKTOP         */

@media only screen and (min-width:968px) {
    header{
        display: flex;
        justify-content: space-around;
    }

    .logo{
        width: 25%;
    }

    .menu{
        width: 75%;
        
    }

    ul{
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    li:hover{
        transform: scale(1.5,1.5);
        transition: 1s;
    }

    main{
        
    }

    main section{
       display:flex;
       
    }

    main section div {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main section div img{
      
    }

    main section div p{
        
        margin: 0 100px;
        padding: 50px 0;
    }
}
