*{
    margin: 0;
}

body{
    font-family: "Alfa Slab One", serif;
}

header{
    border: 2px solid cadetblue;
}

div{
    border: 2px solid rgb(31, 147, 255);
}

img{
    border: 2px solid rgb(122, 243, 41);
}

.logo{
    display: flex;
    justify-content: center;
}

ul{
    border: 2px solid firebrick;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}

li{
    border: 2px solid gold;
    margin-top: 25px;
    margin-bottom: 25px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
}